#animated-image{
    width: 100px;
    height: 100px;
    position: absolute;
}
#animated-image1{
    width: 100px;
    height: 100px;
    position: absolute;
}
#animated-image2{
    width: 100px;
    height: 100px;
    position: absolute;
}
#animated-image3{
    width: 100px;
    height: 100px;
    position: absolute;
}